<p>news-category-create works!</p>

<div class="container m-5 container_main_box">
    <div class="row justify-content-center">
        <div class="col-6">
            <form [formGroup]="categoryFormGroup" (ngSubmit)="onSubmit()">
                <h2>New Product Category</h2>
                <hr/>
                <div formGroupName="category">
                    <div class="my-3">
                        <label for="categoryName" class="form-label">Category Name: </label>
                        <input id="categoryName" name="categoryName" type="text" class="form-control"
                            formControlName="categoryName" />
                        <div class="alert alert-danger" *ngIf="categoryName?.invalid &&
                (categoryName?.touched || categoryName?.dirty)
                ">
                            <div *ngIf="categoryName?.errors?.['required']">
                                Category name is required
                            </div>

                            <div *ngIf="categoryName?.errors?.['pattern']">
                                Category name is valid
                            </div>
                        </div>
                    </div>
                </div>
                <!-- submit button -->
                <div class="d-grid">
                    <input type="submit" value="Add News Category" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
