<div class="m-5">
  <table class="table table-bordered table-striped text-center align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Headline</th>
        <th>Reporter</th>
        <th>Content</th>
        <th>Date</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newsItem of news">
        <td>{{ newsItem.id }}</td>
        <td>{{ newsItem.headline }}</td>
        <td>{{ newsItem.reporter }}</td>
        <!-- Shrink the content column -->
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;" class="text-truncate">
          {{ newsItem.content }}
        </td>
        <td>{{ newsItem.date | date: 'yyyy-MM-dd' }}</td>
        <td><img [src]="newsItem.imageUrl" alt="news image" width="100"></td>
        <td class="d-flex justify-content-center align-items-center">
          <button class="btn btn-danger p-2 w-50 me-1" (click)="removeNews(newsItem.id)">Delete</button>
          <button class="btn btn-success p-2 w-50 " (click)="showNewsEdit(newsItem.id)">Edit</button>
        </td>
      </tr>
      <tr *ngIf="!news || news.length == 0">
        <td colspan="7">No News Available!</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>