<p>portfolio works!</p>

<div class="col-12 m-auto shadow-effect p-3 mb-5 bg-white rounded" style="box-shadow: 0 10p 10px black;">
    <div class="portfolio-container" style="box-shadow: 0 10p 10px black;">
        <header class="header">
          <h1 class="header-title">News Everday Image Showcase</h1>
          <p class="header-subtitle">Explore our news in our portal</p>
        </header>
      
        <!-- Image Gallery -->
        <div class="image-gallery">
          <div *ngFor="let image of images" class="image-card">
            <img [src]="image.src" [alt]="image.alt" class="image" />
          </div>
        </div>
      </div>
      
</div>


<!-- footer -->
<app-footer></app-footer>