<div class="col-6 m-auto">

  <!-- Language Selection -->
  <label for="language">Language</label>
  <select id="language" [(ngModel)]="selectedLanguage" (change)="fetchNewsVideos()">
    <option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</option>
  </select>

  <!-- Region Selection -->
  <label for="region">Region</label>
  <select id="region" [(ngModel)]="selectedRegion" (change)="fetchNewsVideos()">
    <option *ngFor="let region of regions" [value]="region.code">{{ region.name }}</option>
  </select>

  <!-- Category Selection -->
  <label for="category">Category</label>
  <select id="category" [(ngModel)]="selectedCategory" (change)="fetchNewsVideos()">
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>

  <!-- Channel Selection -->
  <select (change)="selectChannel($event)">
    <option *ngFor="let channel of channelIds | keyvalue" [value]="channel.key">
      {{ channel.key }}
    </option>
  </select>

  <div *ngIf="newsVideos.length > 0">
    <div *ngFor="let video of newsVideos" class="video-item">
      <h3>{{ video.snippet.title }}</h3>
      <iframe [src]="getSafeUrl(video.id.videoId)" width="560" height="315" frameborder="0" allowfullscreen></iframe>
      <p>{{ video.snippet.description }}</p>
    </div>
  </div>


</div>

<!-- footer -->
<app-footer></app-footer>