<footer class="footer bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4">
        <img
          src="https://2.bp.blogspot.com/-p8UpJtjkrec/Xuyo7bLm6GI/AAAAAAAAIsA/3AE9mwye59YaEhI104aVswCmRI0vANwzgCK4BGAYYCw/s1600/Everyday%2BNews%2BLogo-01.png"
          alt="News Everyday" width="200px" height="auto" class="footer_image" />
        <p>
          Welcome to our News Everyday Portal, your one-stop destination for the latest news updates across various
          categories. Stay informed, stay connected.
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/news-list" class="text-white">Latest News</a></li>
          <li><a routerLink="/video-list" class="text-white">Video News</a></li>
          <li><a routerLink="/contact" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <!-- Newsletter Section -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Newsletter</h5>
        <form (ngSubmit)="onSubscribe()">
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="subscriberEmail"
              name="email" required aria-label="Email" />
          </div>
          <button type="submit" class="btn btn-primary w-100">Subscribe</button>
          <div class="mt-3 text-success" *ngIf="subscriptionMessage">
            {{ subscriptionMessage }}
          </div>
        </form>
        <div class="mt-3">
          <h6>Follow Us</h6>
          <div class="d-flex gap-3">
            <a href="https://www.facebook.com" class="text-white" target="_blank">
              <i class="fa-brands fa-2x fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com" class="text-white" target="_blank">
              <i class="fa-brands fa-2x fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com" class="text-white" target="_blank">
              <i class="fa-brands fa-2x fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com" class="text-white" target="_blank">
              <i class="fa-brands fa-2x fa-youtube"></i>
            </a>
            <a href="https://www.twitter.com" class="text-white" target="_blank">
              <i class="fa-brands fa-2x fa-twitter"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
    <hr class="my-4 text-white" />
    <div class="text-center">
      <p>&copy; 2025 News Portal. All Rights Reserved.</p>
    </div>
  </div>
</footer>