<nav class="navbar navbar-expand-lg bg-warning ">
  <!--  bg-body-tertiary -->
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><img
        src="https://2.bp.blogspot.com/-p8UpJtjkrec/Xuyo7bLm6GI/AAAAAAAAIsA/3AE9mwye59YaEhI104aVswCmRI0vANwzgCK4BGAYYCw/s1600/Everyday%2BNews%2BLogo-01.png"
        alt="News Everday" width="200px" height="auto" class=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- ---------------------------------- -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="news">News Articles</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="news-create">Add News</a>
            </li>
          </ul>
        </li>
        <!-- ---------------------------------- -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News Category
          </a>
          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="news-category-list">News Category</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="news-category-create">News Category create</a>
            </li>
          </ul>
        </li>

        <!-- ---------------------------------- -->


        <li class="nav-item">
          <a class="nav-link" routerLink="news-list">Online News</a>
        </li>

        <!-- ---------------------------------- -->


        <li class="nav-item">
          <a class="nav-link" routerLink="newspaper">Daily News Paper</a>
        </li>
        <!-- ---------------------------------- -->

        <!-- ---------------------------------- -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact
          </a>
          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="contact">Contact Us</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="contact-list">Contact List</a>
            </li>
          </ul>
        </li>

        <!-- ---------------------------------- -->

        <li class="nav-item">
          <a class="nav-link" routerLink="video-list">Youtube Content</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="portfolio">Portfolio</a>
        </li>
        <!-- ---------------------------------- -->

        <li class="nav-item">
          <a class="nav-link" routerLink="subscribers">Subscribers</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <h1>Is this the footer of page!!</h1> -->

<!-- Footer -->
<!--  
<footer class="footer bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://2.bp.blogspot.com/-p8UpJtjkrec/Xuyo7bLm6GI/AAAAAAAAIsA/3AE9mwye59YaEhI104aVswCmRI0vANwzgCK4BGAYYCw/s1600/Everyday%2BNews%2BLogo-01.png"
          alt="News Everyday" width="200px" height="auto" class="footer_image" style="color: white;">
        <p>
          Welcome to our News Everyday Portal, your one-stop destination for the latest news updates across various
          categories.
          Stay informed, stay connected.
        </p>
      </div>

      <div class="col-md-4">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" routerLink="" class="text-white">Home</a></li>
          <li><a href="#" class="news-list">Latest News</a></li>
          <li><a href="#" class="video-list">Video News</a></li>
          <li><a href="#" class="contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5 class="text-uppercase">Newsletter</h5>
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email">
          </div>
          <button type="submit" class="btn btn-primary w-100">Subscribe</button>
        </form>
        <div class="mt-3">
          <h6>Follow Us</h6>
          <div class="d-flex gap-3">
            <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4 text-white">
    <div class="text-center">
      <p>&copy; 2024 News Portal. All Rights Reserved.</p>
    </div>
  </div>
</footer> -->