<p>news-category-list works!</p>

<div class="container_main_box m-5">
    <table class="table table-bordered table-striped text-center align-middle">
        <thead>
            <tr>
                <th>News Id</th>
                <th>News Category</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nc of newsCategories">
                <td>{{ nc.id }}</td>
                <td>{{ nc.categoryName }}</td>
                <td class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-danger p-2 w-25 me-5"
                        (click)="removeCategory(nc.id)">delete</button>
                    <button class="btn btn-success p-2 w-25"
                        (click)="showNewsCategoryEdit(nc.id)">edit</button>
                </td>

            </tr>
            <tr *ngIf="!newsCategories || newsCategories.length==0">
                <td colspan="3">No Data Avaliable!</td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>
