<div class="language-section" id="telugu">
  <h3>Telugu Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of teluguNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="hindi">
  <h3>Hindi Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of hindiNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="english">
  <h3>English Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of englishNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="tamil">
  <h3>Tamil Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of tamilNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="malyalam">
  <h3>Malayalam Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of malyalamNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="oriya">
  <h3>Oriya Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of oriyaNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="urdu">
  <h3>Urdu Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of urduNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="marathi">
  <h3>Marathi Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of marathiNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="kannada">
  <h3>Kannada Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of kannadaNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="bengali">
  <h3>Bengali Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of bengaliNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="gujarathi">
  <h3>Gujarati Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of gujarathiNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="punjabi">
  <h3>Punjabi Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of punjabiNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="kokani">
  <h3>Konkani Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of kokaniNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="assammese">
  <h3>Assamese Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of assammeseNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>

<div class="language-section" id="bodo">
  <h3>Bodo Newspapers:</h3>
  <div class="newspapers-container">
    <button *ngFor="let newspaper of bodoNewspapers" class="newspaper-button" (click)="openNewspaper(newspaper.url)">
      {{ newspaper.name }}
    </button>
  </div>
</div>


<!-- footer -->
<app-footer></app-footer>
