<p>contact-list works!</p>

<div class="container_main_box m-5 container_main_box">
    <table class="table table-bordered table-striped text-center align-middle">
        <thead>
            <tr>
                <th>Contact Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Submitted At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.submittedAt | date:'short' }}</td> <!-- Format the date -->
                <td class="d-flex justify-content-center align-items-center">

                    <!-- Open Email Client Button -->
                    <button class="btn p-2 ms-2"
                        [ngClass]="{'btn-success': contact.replied, 'btn-danger': !contact.replied}"
                        (click)="openEmailClient(contact.email)">
                        {{ contact.replied ? 'Replied!' : 'Reply via Email' }}
                    </button>
                </td>
            </tr>
            <tr *ngIf="!contacts || contacts.length == 0">
                <td colspan="6">No Data Available!</td>
            </tr>



        </tbody>
    </table>
</div>

<app-footer></app-footer>